<app-default-container-layout>
  <header class="self-end z-10">
    <a class="cursor-pointer" href="/login" routerLink="/login">Sair</a>
  </header>

  <main class="flex-1 mt-20 w-4xl m-auto z-10">
    <section class="w-full flex items-center justify-between gap-4">
      <h2 class="sr-only">Balanço</h2>

      <app-summary-card
        class="flex-1"
        cardTitle="Entrada"
        [amount]="getTotalTransactionType(transactionTypeEnum.INCOME)"
        icon="ph-arrow-circle-up"
        iconColor="text-green-500"
      ></app-summary-card>
      <app-summary-card
        class="flex-1"
        cardTitle="Dispesas"
        [amount]="getTotalTransactionType(transactionTypeEnum.EXPENSE)"
        icon="ph-arrow-circle-down"
        iconColor="text-red-500"
      ></app-summary-card>
      <app-summary-card
        class="flex-1"
        cardTitle="Caixa Total"
        [amount]="getCurrentBalance()"
        icon="ph-money-wavy"
        iconColor="text-white"
        textColor="text-white"
        bgColor="bg-green-500"
      ></app-summary-card>
    </section>

    <section class="block w-full overflow-x-auto">
      <h2 class="sr-only">Transações</h2>

      <div class="flex justify-between items-center text-sm">
        <button
          (click)="changeVisibilityModal()"
          class="text-blue-800 hover:text-blue-600 flex items-center gap-0.5 cursor-pointer"
        >
          <i class="ph ph-plus"></i>
          <span>nova transação</span>
        </button>

        <button
          class="flex items-center gap-1 bg-text-smooth px-3 py-2 rounded cursor-pointer hover:opacity-80"
        >
          <i class="ph ph-file-pdf text-xl"></i>
          <span>gerar relatório</span>
        </button>
      </div>

      <table class="text-text text-sm font-light flex flex-col w-full gap-2 mt-3">
        <thead class="bg-white p-2.5 text-left rounded flex">
          <th class="flex-1">Descrição</th>
          <th class="flex-1">Valor</th>
          <th class="flex-1">Data</th>
          <th></th>
        </thead>

        <tbody class="w-full flex flex-col gap-2 text-secondary-text">
          @if (transactions$ | async; as transactions) {
            @for (transaction of transactions; track transaction.id) {
              <tr class="bg-white flex items-center p-2.5 rounded hover:opacity-70">
                <td class="flex-1">{{ transaction.description }}</td>
                <td
                  [class]="
                    transaction.transactionType == transactionTypeEnum.INCOME
                      ? 'flex-1 text-green-600'
                      : 'flex-1 text-red-600'
                  "
                >
                  R$ {{ transaction.amount | number: '1.2-2' : 'pt-BR' }}
                </td>
                <td class="flex-1">{{ transaction.transactionDate | date: 'dd/MM/yyyy' }}</td>
                <td>
                  <button
                    (click)="deleteTransaction(transaction)"
                    class="text-red-400 hover:text-red-600 cursor-pointer text-xl p-0 flex items-center justify-center"
                  >
                    <i class="ph ph-minus-circle"></i>
                  </button>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </section>
  </main>
  <footer>
    <p>Personal.Finances</p>
  </footer>

  @if (visibilityTransactionModal) {
    <app-modal-add-transaction (closeModal)="changeVisibilityModal()"></app-modal-add-transaction>
  }
</app-default-container-layout>
