<div class="fixed inset-0 z-20 flex items-center bg-black/5 backdrop-blur-xs justify-center">
  <div class="bg-white rounded-lg p-8 w-lg">
    @if (modalTitle) {
      <h2 class="font-bold text-xl text-center text-text">{{ modalTitle }}</h2>
    }

    <ng-content></ng-content>

    <div class="flex items-center justify-between mt-8 gap-4">
      <app-secondary-button
        (click)="cancel.emit()"
        class="flex-1"
        text="{{ textCancelButton }}"
      ></app-secondary-button>
      <app-primary-button
        (click)="confirm.emit()"
        class="flex-1"
        text="{{ textConfirmButton }}"
      ></app-primary-button>
    </div>
  </div>
</div>
