<main class="grid grid-cols-10 h-full shadow-lg">
  <section class="col-span-3 flex flex-col justify-center items-center p-8">
    <img src="logo.svg" alt="logo" />
    <h2 class="font-bold text-xl text-center mt-7">{{ pageTitle }}</h2>

    <ng-content></ng-content>

    <app-primary-button
      (click)="submit()"
      class="w-full mt-8"
      text="{{ primaryButtonText }}"
    ></app-primary-button>

    <div class="text-text-smooth text-sm flex w-full items-center gap-3.5 mt-7">
      <div class="grow h-px bg-text-smooth"></div>
      <span>OR</span>
      <div class="grow h-px bg-text-smooth"></div>
    </div>

    <app-secondary-button
      (click)="navigate()"
      class="w-full mt-7"
      text="{{ secondaryButtonText }}"
    ></app-secondary-button>
  </section>

  <section class="col-span-7 flex flex-col items-center justify-center gap-2 bg-background-gray">
    <h1 class="font-medium text-3xl">You Shoud, MoveIt!</h1>
    <img src="main-image.svg" alt="Um menino andando de skate" />
  </section>
</main>
