/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary: #7001fd;
  --color-text: #555555;
  --color-secondary: #1e2772;
  --color-background-gray: #eeeeee;
}

body {
  @apply h-dvh;
}
