/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'ngx-toastr/toastr';
@import '@phosphor-icons/web/regular/style.css';

@theme {
  --color-primary: #7001fd;
  --color-purple-shadow: #7001fd33;
  --color-text: #555555;
  --color-text-smooth: #c2c2c2cc;
  --color-secondary: #1e2772;
  --color-background-gray: #eeeeee;
  --color-light-gray: #f1f3f6;
  --color-secondary-text: #969cb3;

  --default-font-family: 'Poppins';
}
