<div class="fixed inset-0 z-20 flex items-center bg-black/5 backdrop-blur-xs justify-center">
  <div class="bg-white rounded-lg p-8 w-lg">
    <h2 class="font-bold text-xl text-center text-text">Nova Transação</h2>

    <form [formGroup]="formTransaction" class="mt-4 flex flex-col gap-4">
      <app-primary-input
        formName="description"
        label="Descrição"
        placeholder="descreva o valor"
      ></app-primary-input>

      <div class="flex items-center gap-4">
        <app-primary-input
          class="flex-1"
          formName="amount"
          label="Valor"
          type="number"
          step="0.01"
          placeholder="R$ 200,00"
        ></app-primary-input>
        <app-primary-input
          class="flex-1"
          formName="transactionDate"
          label="Data"
          type="date"
          placeholder="dia/mes/ano"
        ></app-primary-input>
      </div>

      <div class="flex-1 flex flex-col">
        <label class="text-text font-bold text-sm" for="transactionType">Tipo de transação</label>
        <select
          class="text-text font-normal text-sm bg-light-gray outline-none rounded p-2 mt-1"
          formControlName="transactionType"
          id="transactionType"
          aria-placeholder="tipo de transação"
        >
          <option value="INCOME">RECEITA</option>
          <option value="EXPENSE">DESPESA</option>
        </select>
      </div>

      <div class="flex items-center justify-between mt-8 gap-4">
        <app-secondary-button
          (click)="closeModal()"
          class="flex-1"
          text="Cancelar"
        ></app-secondary-button>
        <app-primary-button (click)="submit()" class="flex-1" text="Cadastrar"></app-primary-button>
      </div>
    </form>
  </div>
</div>
